.smx-empty{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

gap:16px;

padding:48px;

background:#1A1A22;

border-radius:20px;

color:white;

text-align:center;

}

.smx-empty-title{

font-size:20px;

font-weight:700;

color:white;

}

.smx-empty-text{

color:#BBBBBB;

}