.smx-hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:40px;

background:#1A1A22;

border-radius:24px;

gap:32px;

color:white;

}

.smx-hero-title{

font-size:36px;

font-weight:700;

color:white;

margin-bottom:12px;

}

.smx-hero-subtitle{

color:#CCCCCC;

}

.smx-hero-actions{

display:flex;

gap:12px;

}