.smx-layout-three-columns{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:24px;

align-items:start;

}

@media(max-width:1200px){

.smx-layout-three-columns{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.smx-layout-three-columns{

grid-template-columns:1fr;

}

}