.smx-page-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:24px;

background:#1A1A22;

border-radius:20px;

color:white;

}

.smx-page-title{

font-size:28px;

font-weight:700;

color:white;

}

.smx-page-subtitle{

color:#BBBBBB;

}