.smx-kpi{

background:#FFFFFF;

border-radius:16px;

padding:16px;

border:1px solid #ECECEC;

display:flex;

justify-content:space-between;

align-items:center;

}

.smx-kpi-title{

font-size:13px;

color:#666666;

}

.smx-kpi-value{

font-size:24px;

font-weight:700;

color:#5E17EB;

}